{% extends "index.html" %}

{% block title %} About {% endblock %}

{% block body %}


<br>
<h2 align="center">About Us</h2>
<br>

<div class="description">

  <center>
    <img src="{{ url_for('static', filename='images/logo_t.png') }}" class="image" width=320px align="center"/>
  </center>

  <p>
  <b>Scammer Scanner</b> 
  is a web-based application designed to identify fake news articles based on user input. 
  Users are able to input news articles, and the system employs machine learning to classify whether the article is reliable or unreliable.
  </p>
</div>

<br>
<br>

<div class="process">
    <h3 align="center">How the Process Works</h3>
    <br>
    <p>
        <b>1. News Dataset for Model Training</b> <br>
        Collection of news articles where each article is labeled as either “real” or “fake”. <br>

        <br>

        <b>2. Preprocess Text</b> <br>
        <ul>
          <li>Remove Non-Alphabetic Characters (punctuations, numbers, commas, quotes, etc.)</li>
          <li>Convert to Lowercase</li>
          <li>Remove Stop Words (Examples: a, an, the, and, it, for, but, in, my, your)</li>
          <li>Stemming: Process of reducing words to their root or base form.</li>
        </ul>
        
        <br>
        
        <!-- Show images -->

        <br>

        <b>3. TF-IDF Vectorizer (Term Frequency - Inverse Document Frequency)</b> <br>
        Scoring method that highlights words that might contain useful information in a given document. <br>
        Term Frequency (TF) : the frequency of certain words and phrases in a document. <br>
        Inverse Document Frequency (IDF) : the rarity of the word across multiple documents. <br>

        <br>

        <b>4. Logistic Regression Algorithm</b> <br>
        Machine learning algorithm used for binary classification tasks. 
        It models the probability of an input belonging to one of two classes, real or fake. <br>

        <br>

        <b>5. The Trained Model is used to Predict Articles from Users</b> <br>
        Once the Logistic Regression model is trained on the labeled dataset, 
        it can be used to predict whether a user-submitted article is real or fake. <br>


    </p>

</div>

<br>
<br>
<h3 align="center">Our Staff</h3>
<br>

<div class="row"> 
    <div class="column">
      <div class="card" style="padding:25px;">
        <img src="{{ url_for('static', filename='images/han.png') }}" class="image" width=320px/>
        <div class="container" style="padding: 5px;">
          <h3>Hansel Daniel Susanto</h3>
          <p class="title">CEO & Founder</p>
          <p style="text-align: justify;">
            He was born in Tanjungpinang, Riau, Indonesia on 2003. He is a student currently pursuing Bachelor of Science 
            with Honours in Cybersecurity at Coventry University. Before pursuing a degree, he received the Diploma in InfoComm 
            Technology from PSB Academy, Singapore. He also possessed EC-Council Security Specialist (ECSS) certificate. He is 
            ambitious and quick-witted, passionate for a prommising future.
          </p>
          <p>
            <b>Email Address:</b>
            hanseldsusanto03@gmail.com</p>
        </div>
      </div>
    </div>
</div>




{% endblock %}