{% extends "index.html" %}

{% block title %} Home {% endblock %}

{% block body %}
<br>
<h2 align="center">Scammer Scanner</h2>
<br>

<div class="description">

    <center>
      <img src="{{ url_for('static', filename='images/logo.png') }}" class="image" width=320px align="center"/>
        <p>
        Free Access to all Users
        </p>
    </center>
</div>

<br>

<div align="center">
    <a href="/fact-checker">
    <button type="submit" class="btn btn-primary">Time to Scan!</button></a>
</div>

<br>

<center>
    <img src="{{ url_for('static', filename='images/infograph_h.png') }}" class="image" width=800px align="center"/>
  </center>

{% endblock %}